<div class="row-fluid">
	<div class="span12 widget-container-span">
		<div class="widget-box">
			<div class="widget-body">
				<div class="widget-main">
					<div id="map" style="width:100%; height:480px" ></div>
				</div>
			</div>
		</div>
	</div>
</div>
<script>
	initMap();
	ambildatabase();
</script>