<!--div class="row"-->
<center><h5><b>DATA SURVEY KECAMATAN {$data_lok.kecamatan}, {$data_lok.kab_kota}, PROVINSI {$data_lok.provinsi}</b></h5></center><hr>
    <div class="col-md-12">
      <!-- Custom Tabs -->
		<div class="nav-tabs-custom">
			<ul class="nav nav-tabs" id="tab_{$acak}">
			  <li class="active"><a href="#alat_peraga_{$acak}" data-toggle="tab" nama_ny="alat_peraga" >Alat Peraga</a></li>
			  <li ><a href="#posko_{$acak}" data-toggle="tab" nama_ny="posko" >Posko</a></li>
			  <li><a href="#kegiatan_{$acak}" data-toggle="tab" nama_ny="kegiatan">Kegiatan</a></li>
			  <li><a href="#tokoh_{$acak}" data-toggle="tab" nama_ny="tokoh">Tokoh</a></li>
			  <li><a href="#tripika_{$acak}" data-toggle="tab" nama_ny="tripika">Tripika</a></li>
			  <li><a href="#penyelenggara_{$acak}" data-toggle="tab" nama_ny="penyelenggara">Penyelenggara</a></li>
			</ul>
			<div class="tab-content">
          <!-- /.tab-pane -->
				<div class="tab-pane active" id="alat_peraga_{$acak}">
					{include file="laporan/laporan-alat-peraga.html" data=$dataa.alat_peraga}
				</div>
				<div class="tab-pane" id="posko_{$acak}">
					{include file="laporan/laporan-posko.html" data=$dataa.posko}
				</div>
				<div class="tab-pane" id="tokoh_{$acak}">
					{include file="laporan/laporan-tokoh.html" data=$dataa.tokoh}
				</div>
				<div class="tab-pane" id="tripika_{$acak}">
					{include file="laporan/laporan-tripika.html" data=$dataa.tripika}
				</div>
				<div class="tab-pane" id="penyelenggara_{$acak}">
					{include file="laporan/laporan-penyelenggara.html" data=$dataa.penyelenggara}
				</div>
				<div class="tab-pane" id="kegiatan_{$acak}">
					{include file="laporan/laporan-kegiatan.html" data=$dataa.kegiatan}
				</div>
			</div>
		</div>
	 </div>
<!--/div-->