<section class="sidebar">
      <ul class="sidebar-menu" data-widget="tree">
        <li class="header">NAVIGASI</li>
		<li>
          <a href="{$host}">
            <i class="fa fa-dashboard"></i> <span>Dashboard</span>
            <span class="pull-right-container">
            </span>
          </a>
        </li>
		<li>
          <a href="javascript:void(0);" onclick="loadUrl('{$host}backend/modul/transaksi/main');$('#judul_kecil').html('Data Transaksi Customer')">
            <i class="fa fa-dashboard"></i> <span>Transaksi</span>
            <span class="pull-right-container">
            </span>
          </a>
        </li>
        <li class="treeview">
          <a href="#">
            <i class="fa fa-database"></i>
            <span>Master</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="javascript:void(0);" onclick="loadUrl('{$host}backend/modul/member/main');$('#judul_kecil').html('Data Member Agropedia')"><i class="fa fa-circle-o"></i>Member Agropedia</a></li>
          </ul>
        </li>
		
		<li class="treeview">
          <a href="#">
            <i class="fa fa-database"></i>
            <span>Laporan</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="javascript:void(0);" onclick="loadUrl('{$host}backend/getdisplay/laporan/alat_peraga');$('#judul_kecil').html('Laporan Survey Alat Peraga')"><i class="fa fa-circle-o"></i> LAPORAN XXXXXX</a></li>
          </ul>
        </li>
      </ul>
    </section>