<div class="table-responsive" >
<table class="table table-bordered">
	<thead>
		<tr style="background:#e6e6ff">
			<th rowspan="2" style="text-align:center;vertical-align:middle;" valign="middle">No.</th>
			<th rowspan="2" style="text-align:center;vertical-align:middle;">Kecamatan</th>
			<th rowspan="2" style="text-align:center;vertical-align:middle;">Kelurahan</th>
			{foreach from=$data.paslon item=i}
			<th colspan="2" style="text-align:center;">{$i.kepala_daerah}-{$i.wakil_kepala_daerah}</th>
			{/foreach}
		</tr>
		<tr style="background:#e6e6ff">
			{foreach from=$data.paslon item=i}
			<th style="text-align:center;">Jumlah</th>
			<th style="text-align:center;">Rusak</th>
			{/foreach}
		</tr>
	</thead>
	<tbody>
		{if !empty($data.survey)}
		{foreach from=$data.survey key=k item=i name=x}
		<tr>
			
			<td >{$smarty.foreach.x.iteration}</td>
			<td >{$i.kecamatan}</td>
			<td >{$k}</td>
			{foreach from=$data.paslon item=z}
			<td style="text-align:right;">{$i.{$z.id}.jml|number_format:0:'.':','|default:0}</td>
			<td style="text-align:right;">{$i.{$z.id}.rusak|number_format:0:'.':','|default:0}</td>
			{/foreach}
		</tr>
		{/foreach}
		{else}
		<tr>
			<td colspan="11" style="text-align:center;"> -- TIDAK ADA DATA -- </td>
		</tr>
		{/if}
	</tbody>
</table>
</div>