<div class="table-responsive" >
<table class="table table-bordered">
	<thead>
		<tr style="background:#e6e6ff">
			<th style="text-align:center;vertical-align:middle;" valign="middle">No.</th>
			<th style="text-align:center;vertical-align:middle;">Kecamatan</th>
			<th style="text-align:center;vertical-align:middle;">Nama</th>
			<th style="text-align:center;vertical-align:middle;">Alamat</th>
			<th style="text-align:center;vertical-align:middle;">No HP</th>
			<th style="text-align:center;vertical-align:middle;">Jabatan</th>
			<th style="text-align:center;vertical-align:middle;">Keberpihakan</th>
			<th style="text-align:center;vertical-align:middle;">sumber</th>
			
		</tr>
		
	</thead>
	<tbody>
		{if empty($data)}
		<tr>
			<td colspan="8" style="text-align:center;"> -- TIDAK ADA DATA -- </td>
		</tr>
		{else}
		{foreach from=$data item=i name=x}
		<tr>
			
			<td style="text-align:center">{$smarty.foreach.x.iteration}</td>
			<td >{$i.kecamatan|default:'-'}</td>
			<td >{$i.nama|default:'-'}</td>
			<td >{$i.alamat|default:'-'}</td>
			<td >{$i.no_hp|default:'-'}</td>
			<td >{$i.jabatan|default:'-'}</td>
			<td >{$i.pihak|default:'-'}</td>
			<td >{$i.sumber|default:'-'}</td>
		</tr>
		{/foreach}
		{/if}
	</tbody>
</table>
</div>