<form class="form-horizontal" id="form_input_{$acak}" url="{$host}backend/cruddata/responden" method="post" enctype="multipart/form-data">
<div id="filter_{$acak}">
<table class="table table-hover">
	<tr>
		<td>
			<div class="form-group">
			  <label for="inputEmail3" class="col-sm-2 control-label">Provinsi</label>
			  <div class="col-sm-10">
				<select class="form-control input-sm" id="cl_provinsi_id_{$acak}" name="cl_provinsi_id">
					<option value="">-- Pilih --</option>
					{foreach from=$prov item=i}
					<option value="{$i.kode_prov}" {if $i.kode_prov eq 73}selected{/if}>{$i.provinsi}</option>
					{/foreach}
				</select>
			  </div>
			</div>
		</td>
		<td>
			<div class="form-group">
			  <label for="inputEmail3" class="col-sm-2 control-label">Kabupaten</label>
			  <div class="col-sm-10">
				<select class="form-control input-sm" id="cl_kabupaten_id_{$acak}" name="cl_kabupaten_id">
					<option value="">-- Pilih --</option>
				</select>
			  </div>
			</div>
		</td>
	</tr>
	<tr>
		<td>
			<div class="form-group">
			  <label for="inputEmail3" class="col-sm-2 control-label">Kecamatan</label>
			  <div class="col-sm-10">
				<select class="form-control input-sm" id="cl_kecamatan_id_{$acak}" name="cl_kecamatan_id">
					<option value="">-- Pilih --</option>
				</select>
			  </div>
			</div>
		</td>
		<td>
			<div class="form-group">
			  <label for="inputEmail3" class="col-sm-2 control-label">Desa/Kelurahan</label>
			  <div class="col-sm-10">
				<select class="form-control input-sm" id="cl_kelurahan_id_{$acak}" name="cl_kelurahan_id">
					<option value="">-- Pilih --</option>
				</select>
			  </div>
			</div>
		</td>
	</tr>
	<tr>
		<td>
			<div class="form-group">
			  <label for="inputEmail3" class="col-sm-2 control-label">Periode </label>
			  <div class="col-sm-10">
				<input type="text" class="form-control input-sm" id="periode_awal_{$acak}" name="periode_awal">
			  </div>
			</div>
		</td>
		<td>
			<div class="form-group">
			  <label for="inputEmail3" class="col-sm-2 control-label">s/d </label>
			  <div class="col-sm-10">
				<input type="text" class="form-control input-sm" id="periode_akhir_{$acak}" name="periode_akhir">
			  </div>
			</div>
		</td>
	</tr>
	{if $mod eq 'alat_peraga'}
	<tr>
		<td colspan="2">
			<div class="form-group">
			  <label for="inputEmail3" class="col-sm-2">Jenis Alat Peraga </label>
			  <div class="col-sm-10">
					<select class="form-control input-sm" id="cl_alat_peraga_id_{$acak}" name="cl_alat_peraga_id">
						{foreach from=$alat item=i}
						<option value="{$i.id}">{$i.alat_peraga}</option>
						{/foreach}
					</select>
				
			  </div>
			</div>
		</td>
	</tr>
	{/if}
</table>
</div>
<center>
<a href="javascript:void(0);" id="tampil_{$acak}" class="btn btn-small btn-info">Tampilkan Data</a>
<a href="javascript:void(0);" id="cetak_{$acak}" class="btn btn-small btn-danger">Export Excel</a>
<a href="javascript:void(0);" id="hide_{$acak}" class="btn btn-small btn-warning">Sembunyikan Pencarian</a>
</center>
<hr>
<div id="isi_laporan_{$acak}" style="padding:5px;"></div>
</form>
<script>
	var fil=0;
	$(".validasi").validatebox({ required:true,tipPosition:"bottom" }); 
	$("#cl_provinsi_id_{$acak}").change(function(){
		$('#cl_kabupaten_id_{$acak}').empty();
		$('#cl_kecamatan_id_{$acak}').empty();
		$('#cl_kelurahan_id_{$acak}').empty();
		fillCombo(host+"backend/get_combo", "cl_kabupaten_id_{$acak}", "kabupaten",$(this).val());
	});
	$("#cl_provinsi_id_{$acak}").trigger('change');
	$("#cl_kabupaten_id_{$acak}").change(function(){
		$('#cl_kecamatan_id_{$acak}').empty();
		fillCombo(host+"backend/get_combo", "cl_kecamatan_id_{$acak}", "kecamatan",$(this).val());
	});
	
	$("#cl_kecamatan_id_{$acak}").change(function(){
		$('#cl_kelurahan_id_{$acak}').empty();
		fillCombo(host+"backend/get_combo", "cl_kelurahan_id_{$acak}", "kelurahan",$(this).val());
	});
	$("#hide_{$acak}").click(function(){
		if(fil==0){ $('#filter_{$acak}').hide('slow');fil=1; $('#hide_{$acak}').html('Tampilkan Pencarian'); }
		else { $('#filter_{$acak}').show('slow');fil=0;$('#hide_{$acak}').html('Sembunyikan Pencarian') }
	});
	$('#periode_awal_{$acak}').datepicker({
      autoclose: true,
	  format:'yyyy-mm-dd'
    })
	$('#periode_akhir_{$acak}').datepicker({
      autoclose: true,
	  format:'yyyy-mm-dd'
    })
	$('#tampil_{$acak}').click(function(){
		var post={};
		post['prov']=$("#cl_provinsi_id_{$acak}").val();
		post['kab']=$("#cl_kabupaten_id_{$acak}").val();
		post['kec']=$("#cl_kecamatan_id_{$acak}").val();
		post['kel']=$("#cl_kelurahan_id_{$acak}").val();
		post['per_awal']=$("#periode_awal_{$acak}").val();
		post['per_akhir']=$("#periode_akhir_{$acak}").val();
		{if $mod eq 'alat_peraga'}
		post['alat']=$("#cl_alat_peraga_id_{$acak}").val();
		{/if}
		
		$('#isi_laporan_{$acak}').html('').addClass('loading');
		$("#hide_{$acak}").trigger('click');
		$.post(host+'backend/getdisplay/{$mod}',post,function(r){
			$('#isi_laporan_{$acak}').removeClass('loading').html(r);
		});
	});
	$('#cetak_{$acak}').click(function(){
		var post={};
		post['prov']=$("#cl_provinsi_id_{$acak}").val();
		post['kab']=$("#cl_kabupaten_id_{$acak}").val();
		post['kec']=($("#cl_kecamatan_id_{$acak}").val()==null ? "" : $("#cl_kecamatan_id_{$acak}").val());
		post['kel']=($("#cl_kelurahan_id_{$acak}").val()==null ? "" : $("#cl_kelurahan_id_{$acak}").val());
		post['per_awal']=$("#periode_awal_{$acak}").val();
		post['per_akhir']=$("#periode_akhir_{$acak}").val();
		{if $mod eq 'alat_peraga'}
		post['alat']=$("#cl_alat_peraga_id_{$acak}").val();
		{/if}
		console.log(post);
		openWindowWithPost(host+'backend/getdisplay/{$mod}/excel',post);
	});
</script>