<div class="table-responsive" >
<table class="table table-bordered">
	<thead>
		<tr style="background:#e6e6ff">
			<th style="text-align:center;vertical-align:middle;" valign="middle">No.</th>
			<th style="text-align:center;vertical-align:middle;">Kelurahan</th>
			<th style="text-align:center;vertical-align:middle;">Nama Tim Posko</th>
			<th style="text-align:center;vertical-align:middle;">Kegiatan</th>
			<th style="text-align:center;vertical-align:middle;">Jumlah Hadir</th>
			<th style="text-align:center;vertical-align:middle;">Jumlah Pemilih Desa</th>
			<th style="text-align:center;vertical-align:middle;">Pengaruh Kegiatan</th>
			<th style="text-align:center;vertical-align:middle;">Keterangan</th>
			
		</tr>
		
	</thead>
	<tbody>
		{if empty($data)}
		<tr>
			<td colspan="8" style="text-align:center;"> -- TIDAK ADA DATA -- </td>
		</tr>
		{else}
		{foreach from=$data item=i name=x}
		<tr>
			
			<td style="text-align:center">{$smarty.foreach.x.iteration}</td>
			<td >{$i.kelurahan|default:'-'}</td>
			<td >{$i.posko|default:'-'}</td>
			<td >{$i.deskripsi_kegiatan|default:'-'}</td>
			<td style="text-align:center">{$i.jml_hadir|default:'-'}</td>
			<td style="text-align:center">{$i.jml_pemilih_desa|default:'-'}</td>
			<td >{$i.pengaruh_kegiatan|default:'-'}</td>
			<td >{$i.keterangan|default:'-'}</td>
		</tr>
		{/foreach}
		{/if}
	</tbody>
</table>
</div>