<div class="table-responsive" >
<table class="table table-bordered">
	<thead>
		<tr style="background:#e6e6ff">
			<th style="text-align:center;vertical-align:middle;" valign="middle">No.</th>
			<th style="text-align:center;vertical-align:middle;">Kelurahan</th>
			<th style="text-align:center;vertical-align:middle;">Nama</th>
			<th style="text-align:center;vertical-align:middle;">Alamat</th>
			<th style="text-align:center;vertical-align:middle;">No HP</th>
			<th style="text-align:center;vertical-align:middle;">Ruang Lingkup </th>
			<th style="text-align:center;vertical-align:middle;">Keberpihakan</th>
			<th style="text-align:center;vertical-align:middle;">Sumber</th>
			
		</tr>
		
	</thead>
	<tbody>
		{if empty($data)}
		<tr>
			<td colspan="9" style="text-align:center;"> -- TIDAK ADA DATA -- </td>
		</tr>
		{else}
		{foreach from=$data item=i name=x}
		<tr>
			
			<td style="text-align:center">{$smarty.foreach.x.iteration}</td>
			<td >{$i.kelurahan|default:'-'}</td>
			<td >{$i.nama|default:'-'}</td>
			<td >{$i.alamat|default:'-'}</td>
			<td >{$i.no_hp|default:'-'}</td>
			<td >
				{if $i.lingkup|default:'-' eq 'ketua_ppk'}KETUA PPK
				{else if $i.lingkup|default:'-' eq 'ketua_pps'}KETUA PPS
				{else if $i.lingkup|default:'-' eq 'anggota_pps'}ANGGOTA PPS
				{else}ANGGOTA PPK{/if}
			</td>
			<td >{$i.pihak|default:'-'}</td>
			<td >{$i.sumber|default:'-'}</td>
		</tr>
		{/foreach}
		{/if}
	</tbody>
</table>
</div>