<div class="table-responsive" >
<table class="table table-bordered">
	<thead>
		<tr style="background:#e6e6ff">
			<th style="text-align:center;vertical-align:middle;" valign="middle">No.</th>
			<th style="text-align:center;vertical-align:middle;">Kelurahan</th>
			<th style="text-align:center;vertical-align:middle;">Nama Tim Posko</th>
			<th style="text-align:center;vertical-align:middle;">Jumlah Tim</th>
			<th style="text-align:center;vertical-align:middle;">Jumlah Yg Aktif</th>
			<th style="text-align:center;vertical-align:middle;">Keadaan Posko</th>
			<th style="text-align:center;vertical-align:middle;">Kualitas Org. Dlm. Tim</th>
			<th style="text-align:center;vertical-align:middle;">Jenis Kegiatan</th>
			
		</tr>
		
	</thead>
	<tbody>
		{if empty($data)}
		<tr>
			<td colspan="8" style="text-align:center;"> -- TIDAK ADA DATA -- </td>
		</tr>
		{else}
		{foreach from=$data item=i name=x}
		<tr>
			
			<td style="text-align:center">{$smarty.foreach.x.iteration}</td>
			<td >{$i.kelurahan|default:'-'}</td>
			<td >{$i.posko|default:'-'}</td>
			<td style="text-align:center">{$i.jml_team|default:'-'}</td>
			<td style="text-align:center">{$i.jml_aktif|default:'-'}</td>
			<td >{$i.keadaan|default:'-'}</td>
			<td >{$i.kualitas|default:'-'}</td>
			<td >{$i.jenis_kegiatan|default:'-'}</td>
		</tr>
		{/foreach}
		{/if}
	</tbody>
</table>
</div>