<textarea id="{$id}" name="{$name}" rows="15">{$value|default:''}</textarea>
<!--div id="{$id}" class="wysiwyg-editor"></div-->

<script>
$(function(){
		tinymce.init({
		  selector: '#{$id}',
		  height: 200,
		  plugins: [
				"advlist autolink lists link image charmap print preview anchor",
				"searchreplace visualblocks code fullscreen",
				"insertdatetime media table contextmenu paste jbimages"
		    ],
			
		  // ===========================================
		  // PUT PLUGIN'S BUTTON on the toolbar
		  // ===========================================
			
		  toolbar: "insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image jbimages",
			
		  // ===========================================
		  // SET RELATIVE_URLS to FALSE (This is required for images to display properly)
		  // ===========================================
			
		  relative_urls: false
		});
		
		tinyMCE.execCommand('mceRemoveControl', false, '#{$id}');
		tinyMCE.execCommand('mceAddControl', false, '#{$id}');
		
		/*
		var editor = tinyMCE.get ("{$id}");
		if(editor) {
		  if(editor.isHidden()) tinyMCE.remove(editor);
		  tinyMCE.execCommand('mceRemoveControl', true, "{$id}");
		}
		*/
		
});
</script>

