<div class="col-md-12">
  <div class="box box-primary">
    <div class="box-header with-border">
      <h3 class="box-title">TREN INVOICE</h3>
    </div>
    <!-- /.box-header -->
    <div class="box-body">
		<div id="tren_{$acak}">
			
		</div>
    </div>
    <!-- /.box-body -->
  </div>
  <!-- /.box -->
</div>

<div class="col-md-6">
  <div class="box box-primary">
    <div class="box-header with-border">
      <h3 class="box-title">LIST PAYMENT</h3>
    </div>
    <!-- /.box-header -->
    <div class="box-body">
		<div id="list_tokoh_{$acak}">
			<table class="table table-hover">
				<thead>
				<tr style="background:#e6e6ff;font-weight:bold;">
					<td style="text-align:center;">No.</td>
					<td>INVOICE</td>
					<td style="text-align:right;">TOTAL</td>
				</tr>
				</thead>
				<tbody>
					
					<tr>
						<td style="text-align:center;">1</td>
						<td>X-0001</td>
						<td style="text-align:right;">Rp. 10.000.000</td>
					</tr>
				</tbody>
			</table>
		</div>
    </div>
    <!-- /.box-body -->
  </div>
  <!-- /.box -->
</div>
<div class="col-md-6">
  <div class="box box-primary">
    <div class="box-header with-border">
      <h3 class="box-title">LIST INVOICE</h3>
    </div>
    <!-- /.box-header -->
    <div class="box-body">
		<div id="list_tripika_{$acak}">
			<table class="table table-hover">
				<thead>
				<tr style="background:#e6e6ff;font-weight:bold;">
					<td style="text-align:center;">No.</td>
					<td>Invoice</td>
					<td style="text-align:right;">TOTAL</td>
				</tr>
				</thead>
				<tbody>
					
					<tr>
						<td style="text-align:center;">1</td>
						<td>X-00010</td>
						<td style="text-align:right;">Rp. 5.000.000</td>
					</tr>
					
				</tbody>
			</table>
		</div>
    </div>
    <!-- /.box-body -->
  </div>
  <!-- /.box -->
</div>

<script>
	
	/*$.post(host+'backend/get_chart',{ mod:'paslon' },function(r){
		var x=JSON.parse(r);
		chart_na('tren_{$acak}',"column","Total Dukungan",'',"",x.x,x.y,"");
	});
	*/
	
</script>