<center><h5>DATA TEAM SUKSES</h5></center><hr>
<form class="form-horizontal" id="form_input_{$main}_{$acak}" url="{$host}backend/cruddata/survey_posko" method="post" enctype="multipart/form-data">
<input type="hidden" name="id" id="id_{$main}_{$acak}" value="{$data.id|default:''}">
<input type="hidden" name="sts_crud" id="sts_crud_{$main}_{$acak}" value="{$sts_crud|default:'add'}">
<input type="hidden" name="tbl_responden_id" id="tbl_responden_id_{$main}_{$acak}" value="" class="id_responden">

<div class="form-group">
	  <label for="inputEmail3" class="col-sm-2 control-label">Desa/Kelurahan</label>
	  <div class="col-sm-10">
		<select class="form-control validasi" id="cl_kelurahan_id_{$main}_{$acak}" name="cl_kelurahan_id">
			<option value="">-- Pilih --</option>
		</select>
	  </div>
</div>
<div class="form-group">
  <label for="inputEmail3" class="col-sm-2 control-label">Posko</label>
  <div class="col-sm-10">
	<input type="text" class="form-control validasi" id="posko_{$main}_{$acak}" name="posko">
	<!--select class="form-control validasi" id="tbl_possko_id_{$main}_{$acak}" name="tbl_possko_id">
		<option value="">-- Pilih --</option>
	</select-->
  </div>
</div>
<div class="form-group">
  <label for="inputEmail3" class="col-sm-2 control-label">Jumlah Team</label>
  <div class="col-sm-10">
	<input type="text" class="form-control validasi" id="jml_team_{$acak}" name="jml_team">
  </div>
</div>
<div class="form-group">
  <label for="inputEmail3" class="col-sm-2 control-label">Jumlah Team Yg Aktif</label>
  <div class="col-sm-10">
	<input type="text" class="form-control validasi" id="jml_aktif_{$acak}" name="jml_aktif">
  </div>
</div>
<!--div class="form-group">
  <label for="inputEmail3" class="col-sm-2 control-label">Keadaan Posko</label>
  <div class="col-sm-10">
	<textarea class="form-control validasi" rows="2" id="keadaan_{$acak}" name="keadaan"></textarea>
  </div>
</div-->
<fieldset>
	<legend>Keadaan Posko</legend>
	<center>
	<div class="radio">
		<label style="width:200px;">
			<input type="radio" name="keadaan" id="keadaan_{$acak}" value="Sepi" checked> Sepi
		</label>
		<label style="width:200px;">
			<input type="radio" name="keadaan" id="keadaan_{$acak}" value="Ramai Keadaan Tertentu"> Ramai Keadaan Tertentu
		</label>
		<label style="width:200px;">
			<input type="radio" name="keadaan" id="keadaan_{$acak}" value="Selalu Ramai"> Selalu Ramai
		</label>
	</div>
	</center>
</fieldset>
<fieldset>
	<legend>Kualitas Dalam Team</legend>
	<center>
	<div class="radio">
		<label style="width:300px;">
			<input type="radio" name="kualitas_team" id="kualitas_team_{$acak}" value="Tidak Ada Orang Yang Berpengaruh" checked> Tidak Ada Orang Yang Berpengaruh
		</label>
		<label style="width:200px;">
			<input type="radio" name="kualitas_team" id="kualitas_team_{$acak}" value="Beberapa Orang Berpengaruh"> Beberapa Orang Berpengaruh
		</label>
		<label style="width:300px;">
			<input type="radio" name="kualitas_team" id="kualitas_team_{$acak}" value="Didominasi Oleh Tokoh Yang Berpengaruh"> Didominasi Oleh Tokoh Yang Berpengaruh
		</label>
	</div>
	</center>
</fieldset>
<div class="form-group">
  <label for="inputEmail3" class="col-sm-2 control-label">Jenis Kegiatan</label>
  <div class="col-sm-10">
	<textarea class="form-control validasi" rows="2" id="jenis_kegiatan_{$acak}" name="jenis_kegiatan"></textarea>
  </div>
</div>
<div class="form-group">
  <label for="inputEmail3" class="col-sm-2 control-label">Sumber Informasi</label>
  <div class="col-sm-10">
	<input type="text" class="form-control validasi" id="sumber_{$main}_{$acak}" name="sumber">
  </div>
</div>
<div class="control-group">
	<center>
	<label class="control-label" for="form-field-1"></label>
	<div class="controls">
		{include file="template/button_save.html" id_simpan="simpan_input_{$main}" id_batal="batal_input_{$main}" text_simpan="Simpan Data Posko"}
		<!--a href="javascript:void(0);" id="edit_input" class="btn btn-small btn-info">
			Lihat Data & Edit
		</a-->
	</div>
	</center>
</div>	
</form>
<br>
<br>
<fieldset>
	<div id="id_list_{$main}" style="height:300px;">
		<div id="list_{$main}" ></div>
	</div>
</fieldset>
<script>
	genGrid('survey_posko', 'list_{$main}');	
	/*$("#cl_kelurahan_id_{$main}_{$acak}").change(function(){
		$('#tbl_possko_id_{$main}_{$acak}').empty();
		fillCombo(host+"backend/get_combo", "tbl_possko_id_{$main}_{$acak}", "posko",$(this).val());
	});*/
	$('#simpan_input_{$main}').click(function(){
		if(id_responden!=""){
		submit_form('form_input_{$main}_{$acak}',function(r){
			if(r==1){
				$.messager.alert('Survey',"Data Survey Tersimpan",'info');
				$('#batal_input_{$main}').trigger('click');
				$('.info-empty').remove();
				$('#list_{$main}').datagrid('reload',{ id_responden:id_responden });
			}else{
				$.messager.alert('PILKADA',"Data Gagal Tersimpan",'error');
				console.log(r);
			}
		});
		}else{
			$.messager.alert('PILKADA',"HARAP ISI FORM 1 RESPONDEN TERLEBIH DAHULU",'warning');
		}
	});
	$('#batal_input_{$main}').click(function(){
		clear_form('form_input_{$main}_{$acak}');
		$('.angka').numberbox('setValue','');
	});
</script>