<center><h5>DATA KUESIONER</h5></center><hr>
<form class="form-horizontal" id="form_input_{$acak}" url="{$host}backend/cruddata/responden" method="post" enctype="multipart/form-data">
<input type="hidden" name="id" id="id_{$acak}" value="{$data.id|default:''}">
<input type="hidden" name="sts_crud" id="sts_crud_{$acak}" value="{$sts_crud|default:'add'}">
<div class="form-group">
  <label for="inputEmail3" class="col-sm-2 control-label">Provinsi</label>
  <div class="col-sm-10">
	<select class="form-control validasi" id="cl_provinsi_id_{$acak}" name="cl_provinsi_id">
		<option value="">-- Pilih --</option>
		{foreach from=$prov item=i}
		<option value="{$i.kode_prov}" {if $i.kode_prov eq 73}selected{/if}>{$i.provinsi}</option>
		{/foreach}
	</select>
  </div>
</div>

<div class="form-group">
  <label for="inputEmail3" class="col-sm-2 control-label">Kabupaten</label>
  <div class="col-sm-10">
	<select class="form-control validasi" id="cl_kabupaten_id_{$acak}" name="cl_kabupaten_id">
		<option value="">-- Pilih --</option>
	</select>
  </div>
</div>
<div class="form-group">
  <label for="inputEmail3" class="col-sm-2 control-label">Kecamatan</label>
  <div class="col-sm-10">
	<select class="form-control validasi" id="cl_kecamatan_id_{$acak}" name="cl_kecamatan_id">
		<option value="">-- Pilih --</option>
	</select>
  </div>
</div>

<div class="form-group">
  <label for="inputEmail3" class="col-sm-2 control-label">Periode</label>
  <div class="col-sm-10">
	<input type="text" class="form-control validasi" id="periode_{$acak}" name="periode">
  </div>
</div>
<div class="form-group">
  <label for="inputEmail3" class="col-sm-2 control-label">Relawan</label>
  <div class="col-sm-10">
	<select class="form-control validasi" id="tbl_relawan_id_{$acak}" name="tbl_relawan_id">
		<option value="">-- Pilih --</option>
	</select>
  </div>
</div>
<div class="form-group">
  <label for="inputEmail3" class="col-sm-2 control-label">Nama Responden</label>
  <div class="col-sm-10">
	<input type="text" class="form-control validasi" id="nama_responden_{$acak}" name="nama_responden">
  </div>
</div>
<div class="form-group">
  <label for="inputEmail3" class="col-sm-2 control-label">Alamat Responden</label>
  <div class="col-sm-10">
	<textarea class="form-control validasi" rows="2" id="alamat_responden_{$acak}" name="alamat_responden"></textarea>
  </div>
</div>
<div class="form-group">
  <label for="inputEmail3" class="col-sm-2 control-label">Jenis Kelamin</label>
  <div class="col-sm-10">
	<center>
	<div class="radio">
		<label>
			<input type="radio" name="jenis_kelamin" id="jenis_kelamin_{$acak}" value="L" checked> Laki - laki &nbsp;&nbsp;&nbsp;&nbsp;
		</label>
		<label>
			<input type="radio" name="jenis_kelamin" id="jenis_kelamin_{$acak}" value="P"> Perempuan
		</label>
	</div>
	</center>
  </div>
</div>
<div class="form-group">
  <label for="inputEmail3" class="col-sm-2 control-label">Usia</label>
  <div class="col-sm-10">
	<center>
	<div class="radio">
		<label>
			<input type="radio" name="usia" id="usia_{$acak}" value="<20" checked> < 20 &nbsp;&nbsp;&nbsp;&nbsp;
		</label>
		<label>
			<input type="radio" name="usia" id="usia_{$acak}" value="20-29" checked> 20-29 &nbsp;&nbsp;&nbsp;&nbsp;
		</label>
		<label>
			<input type="radio" name="usia" id="usia_{$acak}" value="30-39" checked> 30-39 &nbsp;&nbsp;&nbsp;&nbsp;
		</label>
		<label>
			<input type="radio" name="usia" id="usia_{$acak}" value="40-49" checked> 40-49 &nbsp;&nbsp;&nbsp;&nbsp;
		</label>
		<label>
			<input type="radio" name="usia" id="usia_{$acak}" value=">50"> > 50
		</label>
	</div>
	</center>
  </div>
</div>
<div class="form-group">
  <label for="inputEmail3" class="col-sm-2 control-label">Pekerjaan Utama</label>
  <div class="col-sm-10">
	<center>
	<div class="radio">
		<table class="table">
			<tr>
				<td>
					<label>
						<input type="radio" name="pekerjaan" id="pekerjaan_{$acak}" value="Petani/nelayan penggarap" checked> Petani/nelayan penggarap 
					</label><br>
					<label>
						<input type="radio" name="pekerjaan" id="pekerjaan_{$acak}" value="Petani/nelayan pemilik" checked> Petani/nelayan pemilik 
					</label><br>
					<label>
						<input type="radio" name="pekerjaan" id="pekerjaan_{$acak}" value="Buruh/tukang/Supir" checked> Buruh/tukang/Supir  
					</label><br>
					<label>
						<input type="radio" name="pekerjaan" id="pekerjaan_{$acak}" value="Pedagang kecil" checked> Pedagang kecil 
					</label><br>
					<label>
						<input type="radio" name="pekerjaan" id="pekerjaan_{$acak}" value="Pedagang besar" checked> Pedagang besar 
					</label><br>
					<label>
						<input type="radio" name="pekerjaan" id="pekerjaan_{$acak}" value="Pengusaha" checked> Pengusaha 
					</label><br>
					<label>
						<input type="radio" name="pekerjaan" id="pekerjaan_{$acak}" value="PNS/Guru/Bidan" checked> PNS/Guru/Bidan 
					</label><br>
					<label>
						<input type="radio" name="pekerjaan" id="pekerjaan_{$acak}" value="Pegawai Swasta" checked> Pegawai Swasta
					</label>
				</td>
				<td>
					<label>
						<input type="radio" name="pekerjaan" id="pekerjaan_{$acak}" value="Pejabat (minimal camat)" checked> Pejabat (minimal camat) 
					</label><br>
					<label>
						<input type="radio" name="pekerjaan" id="pekerjaan_{$acak}" value="Purnawirawan TNI/Polisi" checked> Purnawirawan TNI/Polisi 
					</label><br>
					<label>
						<input type="radio" name="pekerjaan" id="pekerjaan_{$acak}" value="Ibu rumah tangga" checked> Ibu rumah tangga 
					</label><br>
					<label>
						<input type="radio" name="pekerjaan" id="pekerjaan_{$acak}" value="Mahasiswa/Sekolah" checked> Mahasiswa/Sekolah 
					</label><br>
					<label>
						<input type="radio" name="pekerjaan" id="pekerjaan_{$acak}" value="Tidak bekerja" checked> Tidak bekerja 
					</label><br>
					<label>
						<input type="radio" name="pekerjaan" id="pekerjaan_{$acak}" value="Lainnya" checked> Lainnya 
					</label><br>
					<label>
						<input type="radio" name="pekerjaan" id="pekerjaan_{$acak}" value=">Tidak Tahu/Tidak jawab"> Tidak Tahu/Tidak jawab
					</label>
				
				</td>
			</tr>
		</table>
		
		
	</div>
	</center>
  </div>
</div>
<div class="form-group">
  <label for="inputEmail3" class="col-sm-2 control-label">Pengeluaran PerBulan</label>
  <div class="col-sm-10">
	<center>
	<div class="radio">
		<table class="table">
			<tr>
				<td>
					<label>
						<input type="radio" name="pengeluaran_keluarga" id="pengeluaran_keluarga_{$acak}" value="<500000" checked> Rp 500.000 atau di bawahnya
					</label><br>
					<label>
						<input type="radio" name="pengeluaran_keluarga" id="pengeluaran_keluarga_{$acak}" value="500001–1000000" checked> Rp 500.001 – Rp 1.000.000 
					</label><br>
					<label>
						<input type="radio" name="pengeluaran_keluarga" id="pengeluaran_keluarga_{$acak}" value="1000001–1500000" checked> Rp 1.000.001 – 1.500.000 
					</label><br>
					<label>
						<input type="radio" name="pengeluaran_keluarga" id="pengeluaran_keluarga_{$acak}" value="1500001–2000000 " checked> Rp 1.500.001 – 2.000.000  
					</label><br>
					<label>
						<input type="radio" name="pengeluaran_keluarga" id="pengeluaran_keluarga_{$acak}" value="2000001–3000000" checked> Rp 2.000.001 – 3.000.000 
					</label><br>
					
				</td>
				<td>
					<label>
						<input type="radio" name="pengeluaran_keluarga" id="pengeluaran_keluarga_{$acak}" value="3000001–4000000" checked> Rp 3.000.001 – 4.000.000
					</label><br>
					<label>
						<input type="radio" name="pengeluaran_keluarga" id="pengeluaran_keluarga_{$acak}" value="4000001–6000000" checked> Rp 4.000.001 – 6.000.000 
					</label><br>
					<label>
						<input type="radio" name="pengeluaran_keluarga" id="pengeluaran_keluarga_{$acak}" value="6000001–8000000" checked> Rp 6.000.001 – 8.000.000
					</label><br>
					<label>
						<input type="radio" name="pengeluaran_keluarga" id="pengeluaran_keluarga_{$acak}" value="8000001–10000000" checked> Rp 8.000.001 – 10.000.000 
					</label><br>
					<label>
						<input type="radio" name="pengeluaran_keluarga" id="pengeluaran_keluarga_{$acak}" value=">10000000" checked> Di atas Rp 10.000.000 
					</label>
				</td>
			</tr>
		</table>
	</div>
	</center>
  </div>
</div>
<div class="form-group">
  <label for="inputEmail3" class="col-sm-2 control-label">Pengenalan</label>
  <div class="col-sm-10">
	<table class="table">
		<tr>
			<td colspan="2"><b>Pernah Dengar / Baca/<b></td>
			<td><b>Jika "Ya" Suka/Tidak Suka</b></td>
		</tr>
		{foreach from=$paslon item=i}
		<tr>
			<td>{$i.alias_kepala_daerah}</td>
			<td>
				<input type="radio" name="dengar_baca_{$i.id}_{$i.kepala_daerah}" id="dengar_baca{$acak}" value="Y"> Ya &nbsp;&nbsp;&nbsp;
				<input type="radio" name="dengar_baca_{$i.id}_{$i.kepala_daerah}" id="dengar_baca{$acak}" value="T" checked> Tidak
			</td>
			<td>
				<input type="radio" name="menurut_responden_{$i.id}_{$i.kepala_daerah}" id="menurut_responden{$acak}" value="S"> Suka &nbsp;&nbsp;&nbsp;
				<input type="radio" name="menurut_responden_{$i.id}_{$i.kepala_daerah}" id="menurut_responden{$acak}" value="TS"> Tidak Suka
			</td>
		</tr>
		<tr>
			<td>{$i.alias_wakil}</td>
			<td>
				<input type="radio" name="dengar_baca_{$i.id}_{$i.wakil_kepala_daerah}" id="dengar_baca{$acak}" value="Y"> Ya &nbsp;&nbsp;&nbsp;
				<input type="radio" name="dengar_baca_{$i.id}_{$i.wakil_kepala_daerah}" id="dengar_baca{$acak}" value="T" checked> Tidak
			</td>
			<td>
				<input type="radio" name="menurut_responden_{$i.id}_{$i.wakil_kepala_daerah}" id="menurut_responden{$acak}" value="S"> Suka &nbsp;&nbsp;&nbsp;
				<input type="radio" name="menurut_responden_{$i.id}_{$i.wakil_kepala_daerah}" id="menurut_responden{$acak}" value="TS"> Tidak Suka
			</td>
		</tr>
		{/foreach}
	</table>
  </div>
</div>
<div class="form-group">
  <label for="inputEmail3" class="col-sm-2 control-label">Paslon Pilihan</label>
  <div class="col-sm-10">
	<div class="radio">
		{foreach from=$paslon item=x}
		<label style="width:300px;">
			<input type="radio" name="pilihan_paslon" id="pilihan_paslon{$acak}" value="{$x.id}" > {$x.alias_kepala_daerah} - {$x.alias_wakil}
		</label>
		{/foreach}
		<br><label style="width:300px;">
			<input type="radio" name="pilihan_paslon" id="pilihan_paslon{$acak}" value="0" checked> RAHASIA/TIDAK MENJAWAB
		</label>
		<label style="width:300px;">
			<input type="radio" name="pilihan_paslon" id="pilihan_paslon{$acak}" value="-1" checked> BELUM TAHU
		</label>
	</div>
  </div>
</div>

{foreach from=$paslon item=i}
<div class="col-sm-12" style="font-weight:bold;">
	<p>Pernahkah ada orang atau tim dari calon gubernur {$i.alias_kepala_daerah} – {$i.alias_wakil} datang ke rumah untuk mempromosikan calon gubernurnya?</p>
</div>
<div class="form-group">
  <label for="inputEmail3" class="col-sm-2 control-label"></label>
  <div class="col-sm-10">
	<div class="radio">
		<br><label style="width:200px;">
			<input type="radio" name="promosi_{$i.id}" id="promosi{$acak}" value="Y" checked> Ya Pernah
		</label>
		<label style="width:200px;">
			<input type="radio" name="promosi_{$i.id}" id="promosi{$acak}" value="T" checked> Tidak Pernah
		</label>
		<label style="width:200px;">
			<input type="radio" name="promosi_{$i.id}" id="promosi{$acak}" value="TT" checked> Tidak Tahu/Tidak Jawab
		</label>
	</div>
  </div>
</div>
{/foreach}

{foreach from=$paslon item=i}
<div class="col-sm-12" style="font-weight:bold;">
	<p>Kalau kalender atau brosur atau stiker calon gubernur {$i.alias_kepala_daerah} – {$i.alias_wakil} sudah  dapat ?</p>
</div>
<div class="form-group">
  <label for="inputEmail3" class="col-sm-2 control-label"></label>
  <div class="col-sm-10">
	<div class="radio">
		<br><label style="width:200px;">
			<input type="radio" name="brosur_{$i.id}" id="brosur_{$acak}" value="Y" checked> Ya Ada
		</label>
		<label style="width:200px;">
			<input type="radio" name="brosur_{$i.id}" id="brosur_{$acak}" value="T" checked> Tidak Ada
		</label>
		<label style="width:200px;">
			<input type="radio" name="brosur_{$i.id}" id="brosur_{$acak}" value="TT" checked> Tidak Tahu/Tidak Jawab
		</label>
	</div>
  </div>
</div>
{/foreach}

<div class="col-sm-12" style="font-weight:bold;">
	<p>Calon gubernur mana saja yang orangnya atau timnya pernah datang ke rumah ta lalu kasiki barang-barang kayak sarung, jilbab atau kerudung atau jam dinding? </p>
</div>
<div class="form-group">
  <label for="inputEmail3" class="col-sm-2 control-label"></label>
  <div class="col-sm-10">
	<div class="checkbox">
		{foreach from=$paslon item=x}
		<label style="width:300px;">
			<input type="checkbox" name="t_barang_tbl_paslon_id[]" id="t_barang_tbl_paslon_id{$acak}" value="{$x.id}" > Tim {$x.alias_kepala_daerah} - {$x.alias_wakil}
		</label>
		{/foreach}
		<br><label style="width:200px;">
			<input type="checkbox" name="t_barang_tbl_paslon_id[]" id="t_barang_tbl_paslon_id{$acak}" value="0" checked>Tidak Ada
		</label>
	</div>
  </div>
</div>

<div class="col-sm-12" style="font-weight:bold;">
	<p>Calon gubernur mana saja yang orangnya atau timnya pernah datang ke rumah ta lalu mau kasiki uang?</p>
</div>
<div class="form-group">
  <label for="inputEmail3" class="col-sm-2 control-label"></label>
  <div class="col-sm-10">
	<div class="checkbox">
		{foreach from=$paslon item=x}
		<label style="width:300px;">
			<input type="checkbox" name="t_uang_tbl_paslon_id[]" id="t_uang_tbl_paslon_id{$acak}" value="{$x.id}" > Tim {$x.alias_kepala_daerah} - {$x.alias_wakil}
		</label>
		{/foreach}
		<br><label style="width:200px;">
			<input type="checkbox" name="t_uang_tbl_paslon_id[]" id="t_uang_tbl_paslon_id{$acak}" value="0" checked>Tidak Ada
		</label>
	</div>
  </div>
</div>

<div class="form-group">
  <label for="inputEmail3" class="col-sm-2 control-label">Keg.Sembako Murah ?</label>
  <div class="col-sm-10">
	<table class="table">
		{foreach from=$paslon item=i}
		<tr>
			<td>{$i.alias_kepala_daerah} - {$i.alias_wakil}</td>
			<td>
				<input type="radio" name="sembako_jawab_{$i.id}" id="sembako_jawab_{$acak}" value="Y"> Ya &nbsp;&nbsp;&nbsp;
				<input type="radio" name="sembako_jawab_{$i.id}" id="sembako_jawab_{$acak}" value="T"> Tidak &nbsp;&nbsp;&nbsp;
				<input type="radio" name="sembako_jawab_{$i.id}" id="sembako_jawab_{$acak}" value="TJ" checked> Tidak Jawab
			</td>
		</tr>
		{/foreach}
	</table>
  </div>
</div>

<div class="form-group">
  <label for="inputEmail3" class="col-sm-2 control-label">Hadir Kampanye Paslon ?</label>
  <div class="col-sm-10">
	<table class="table">
		{foreach from=$paslon item=i}
		<tr>
			<td>{$i.alias_kepala_daerah} - {$i.alias_wakil}</td>
			<td>
				<input type="radio" name="t_acara_jawab_{$i.id}" id="t_acara_jawab_{$acak}" value="Y"> Ya &nbsp;&nbsp;&nbsp;
				<input type="radio" name="t_acara_jawab_{$i.id}" id="t_acara_jawab_{$acak}" value="T"> Tidak &nbsp;&nbsp;&nbsp;
				<input type="radio" name="t_acara_jawab_{$i.id}" id="t_acara_jawab_{$acak}" value="TJ" checked> Tidak Jawab
			</td>
		</tr>
		{/foreach}
	</table>
  </div>
</div>

<div class="form-group">
  <label for="inputEmail3" class="col-sm-2 control-label">Nasihat Yang Didengar?</label>
  <div class="col-sm-10">
	<input type="text" class="form-control validasi" id="nasihat_{$acak}" name="nasihat" placeholder="JIKA RESPONDEN MENYEBUTKAN NAMA, PROBING APA PERAN SOSIAL ORANG YANG DIMAKSUD DAN SEMPATKAN MINTA NO HP TOKOH ITU">
  </div>
</div>
<div class="col-sm-12" >
	<table class="table">
		<tr style="font-weight:bold;">
			<td colspan="2">Pernah dengar atau baca program calon gubernur yang bilang ?</td>
			<td>JIKA YA. Calon gubernur mana yang mengeluarkan program itu?</td>
		</tr>
		{foreach from=$program item=i}
		<tr>
			<td style="width:40%">{$i.pertanyaan_prog}</td>
			<td style="width:20%">
				<input type="radio" name="t_program_jawab_{$i.id}" id="t_program_jawab_{$acak}" value="Y"> Ya &nbsp;&nbsp;&nbsp;
				<input type="radio" name="t_program_jawab_{$i.id}" id="t_program_jawab_{$acak}" value="T" checked> Tidak
			</td>
			<td style="width:40%">
				{foreach from=$paslon item=x}
				<input type="radio" name="t_program_tbl_paslon_id_{$i.id}" id="t_program_tbl_paslon_id{$acak}" value="{$x.id}" > {$x.kepala_daerah} - {$x.wakil_kepala_daerah} &nbsp;&nbsp;&nbsp;
				{/foreach}
			</td>
		</tr>
		{/foreach}
	</table>
</div>

<div class="col-sm-12" style="font-weight:bold;">
	<p>Dari tim mana saja yang keliatannya memaksakan pilihannya kepada masyarakat di kampung ini?</p>
</div>
<div class="form-group">
  <label for="inputEmail3" class="col-sm-2 control-label"></label>
  <div class="col-sm-10">
	<div class="checkbox">
		{foreach from=$paslon item=x}
		<label style="width:300px;">
			<input type="checkbox" name="t_pemaksaan_tbl_paslon_id[]" id="t_pemaksaan_tbl_paslon_id{$acak}" value="{$x.id}" > Tim {$x.alias_kepala_daerah} - {$x.alias_wakil}
		</label>
		{/foreach}
		<br><label style="width:200px;">
			<input type="checkbox" name="t_pemaksaan_tbl_paslon_id[]" id="t_pemaksaan_tbl_paslon_id{$acak}" value="0" >RAHASIA/TIDAK MENJAWAB
		</label>
		<br><label style="width:200px;">
			<input type="checkbox" name="t_pemaksaan_tbl_paslon_id[]" id="t_pemaksaan_tbl_paslon_id{$acak}" value="-1" checked>BELUM TAHU
		</label>
	</div>
  </div>
</div>
<div class="control-group">
	<center>
	<label class="control-label" for="form-field-1"></label>
	<div class="controls">
		{include file="template/button_save.html" id_simpan="simpan_input" id_batal="batal_input" text_simpan="Simpan Data Responden" text_batal="Reset & Kuesioner Baru" }
		<!--a href="javascript:void(0);" id="edit_input" class="btn btn-small btn-info">
			Lihat Data & Edit
		</a-->
	</div>
	</center>
</div>	
</form>

<script>
	id_responden='';
	$(".validasi").validatebox({ required:true,tipPosition:"bottom" }); 
	
	$("#cl_provinsi_id_{$acak}").change(function(){
		$('#cl_kabupaten_id_{$acak}').empty();
		$('#cl_kecamatan_id_{$acak}').empty();
		$('#cl_kelurahan_id_{$acak}').empty();
		fillCombo(host+"backend/get_combo", "cl_kabupaten_id_{$acak}", "kabupaten",$(this).val());
	});
	$("#cl_provinsi_id_{$acak}").trigger('change');
	$("#cl_kabupaten_id_{$acak}").change(function(){
		$('#cl_kecamatan_id_{$acak}').empty();
		fillCombo(host+"backend/get_combo", "cl_kecamatan_id_{$acak}", "kecamatan",$(this).val());
	});
	
	$("#cl_kecamatan_id_{$acak}").change(function(){
		$('#cl_kelurahan_id_alat_peraga_{$acak}').empty();
		$('#cl_kelurahan_id_posko_{$acak}').empty();
		$('#cl_kelurahan_id_kegiatan_{$acak}').empty();
		$('#cl_kelurahan_id_tokoh_{$acak}').empty();
		$('#cl_kelurahan_id_penyelenggara_{$acak}').empty();
		$('#cl_kelurahan_id_kpps_{$acak}').empty();
		$('#tbl_relawan_id_{$acak}').empty();
		fillCombo(host+"backend/get_combo", "cl_kelurahan_id_alat_peraga_{$acak}", "kelurahan",$(this).val());
		fillCombo(host+"backend/get_combo", "cl_kelurahan_id_posko_{$acak}", "kelurahan",$(this).val());
		fillCombo(host+"backend/get_combo", "cl_kelurahan_id_kegiatan_{$acak}", "kelurahan",$(this).val());
		fillCombo(host+"backend/get_combo", "cl_kelurahan_id_tokoh_{$acak}", "kelurahan",$(this).val());
		fillCombo(host+"backend/get_combo", "cl_kelurahan_id_penyelenggara_{$acak}", "kelurahan",$(this).val());
		fillCombo(host+"backend/get_combo", "cl_kelurahan_id_kpps_{$acak}", "kelurahan",$(this).val());
		fillCombo(host+"backend/get_combo", "tbl_relawan_id_{$acak}", "relawan",$(this).val());
	});
	$('#periode_{$acak}').daterangepicker({ 
		autoUpdateInput: false,
		locale: {
			format: 'YYYY-MM-DD'
		},
	});
	$('input[name="periode"]').on('apply.daterangepicker', function(ev, picker) {
		$(this).val(picker.startDate.format('YYYY-MM-DD') + ' s/d ' + picker.endDate.format('YYYY-MM-DD'));
	});

	$('input[name="periode"]').on('cancel.daterangepicker', function(ev, picker) {
		$(this).val('');
	});
	
	$('#simpan_input').click(function(){
		submit_form('form_input_{$acak}',function(resp){
			console.log(resp);
			var r=JSON.parse(resp);
			if(r.sts==1){
				id_responden=r.id_resp;
				$('.id_responden').val(r.id_resp);
				$.messager.alert('Survey',"Data Survey Tersimpan",'info');
				$('.info-empty').remove();
				$('#simpan_input').addClass('disabled');
			}else{
				$.messager.alert('PILKADA',"Data Gagal Tersimpan",'error');
				console.log(r);
			}
		});

	});
	$('#batal_input').click(function(){
		if(id_responden==''){
			$.messager.alert('Survey',"Form Sudah Berada Di Kuesioner Baru",'info');
		}
		else{
			$.messager.confirm('SURVEY PILKADA','Apakah Ingin Menambah Kuesioner Baru? <br> Pastikan Semua Form Kuesioner Sudah Disi !',function(re){
				if(re){
					clear_form('form_input_{$acak}');
					$('.id_responden').val('');
					id_responden='';
					//$('#list_alat_peraga').datagrid('reload',{ id_responden:0 });
					$('#list_alat_peraga').html('');
					$('#list_posko').datagrid('reload',{ id_responden:0 });
					$('#list_kegiatan').datagrid('reload',{ id_responden:0 });
					$('#list_tokoh').datagrid('reload',{ id_responden:0 });
					$('#list_tripika').datagrid('reload',{ id_responden:0 });
					$('#list_penyelenggara').datagrid('reload',{ id_responden:0 });
					$('#list_kpps').datagrid('reload',{ id_responden:0 });
					$('#simpan_input').removeClass('disabled');
				}
			});
		}
		//$('.angka').numberbox('setValue','');
	});
	$('#edit_input').click(function(){
		$.post(host+"backend/getdisplay/input_grid",{ mod:'responden',acak_form:'{$acak}' },function(r){
			windowForm(r,"List Data Responden",750,500);
		});
	});
	
</script>