<center><h5>DATA ALAT PERAGA</h5></center><hr>
<form class="form-horizontal" id="form_input_{$main}_{$acak}" url="{$host}backend/cruddata/alat_peraga" method="post" enctype="multipart/form-data">
	<input type="hidden" name="id" id="id_{$main}_{$acak}" value="{$data.id|default:''}">
	<input type="hidden" name="sts_crud" id="sts_crud_{$main}_{$acak}" value="{$sts_crud|default:'add'}">
	<input type="hidden" name="tbl_responden_id" id="tbl_responden_id_{$main}_{$acak}" value="" class="id_responden">
	<div class="box-body">
	<div class="form-group">
	  <label for="inputEmail3" class="col-sm-2 control-label">Desa/Kelurahan</label>
	  <div class="col-sm-10">
		<select class="form-control validasi" id="cl_kelurahan_id_{$main}_{$acak}" name="cl_kelurahan_id">
			<option value="">-- Pilih --</option>
		</select>
	  </div>
	</div>
	<div class="form-group">
	  <label for="inputEmail3" class="col-sm-2 control-label">Jenis Alat Peraga</label>
	  <div class="col-sm-10">
		{foreach from=$cl_alat item=i}
		<fieldset>
			<legend>{$i.alat_peraga}</legend>
			<table class="table table-hover">
				<thead>
				<tr>
					<td>Paslon<td>
					<td style="text-align=center;">Jumlah<td>
					<td style="text-align=center;">Rusak<td>
				</tr>
				</thead>
				<tbody>
				{foreach from=$paslon item=x}
				<tr>
					<td>{$x.kepala_daerah} - {$x.wakil_kepala_daerah}<td>
					<td><input type="text" name="jumlah_{$i.id}[{$x.id}]" id="jumlah_{$i.id}_{$x.id}" class="angka"><td>
					<td><input type="text" name="rusak_{$i.id}[{$x.id}]" id="rusak_{$i.id}_{$x.id}" class="angka"><td>
				</tr>
				{/foreach}
				</tbody>
			</table>
			
		</fieldset>
		{/foreach}
		
		
		
	  </div>
	</div>
	
	</div>
	<div class="control-group">
		<center>
		<label class="control-label" for="form-field-1"></label>
		<div class="controls">
			{include file="template/button_save.html" id_simpan="simpan_input_{$main}" id_batal="batal_input_{$main}" text_simpan="Simpan Data Alat Peraga"}
			<!--a href="javascript:void(0);" id="edit_input" class="btn btn-small btn-info">
				Lihat Data & Edit
			</a-->
		</div>
		</center>
	</div>	
</form>
<br>
<br>

	<div id="id_list_{$main}" style="height:300px;">
		<div id="list_{$main}" ></div>
	</div>

<script>
	//genGrid('survey_alat_peraga', 'list_{$main}');	
	$(".validasi").validatebox({ required:true,tipPosition:"bottom" }); 
	$('.angka').numberbox();
	$('.angka').numberbox('setValue',0);
	
	$('#simpan_input_{$main}').click(function(){
		if(id_responden!=""){
		submit_form('form_input_{$main}_{$acak}',function(r){
			if(r==1){
				$.messager.alert('Survey',"Data Survey Tersimpan",'info');
				$('#batal_input_{$main}').trigger('click');
				$('.info-empty').remove();
				//$('#list_{$main}').datagrid('reload',{ id_responden:id_responden });
				get_alat_peraga("{$acak}");
			}else{
				$.messager.alert('PILKADA',"Data Gagal Tersimpan",'error');
				console.log(r);
			}
		});
		}else{
			$.messager.alert('PILKADA',"HARAP ISI FORM 1 RESPONDEN TERLEBIH DAHULU",'warning');
		}

	});
	$('#batal_input_{$main}').click(function(){
		clear_form('form_input_{$main}_{$acak}');
		$('.angka').numberbox('setValue',0);
	});

</script>