<fieldset>
	<legend>Form Kab. Kota</legend>
<div class="span10">
	<form class="form-horizontal" id="form_{$acak}" url="{$host}backend/cruddata/{$main}" method="post" enctype="multipart/form-data">
		<table class="table table-hover">
		<input type="hidden" name="id" value="{$data.id|default:''}">
		<input type="hidden" name="sts_crud" value="{$sts_crud|default:'add'}">
		
		{include file="template/input_form.html" type='select' label="Provinsi" style_type="width:80%;height:30px;" class="validasi" id="cl_provinsi_kode" name="cl_provinsi_kode" option={$cl_provinsi_kode|default:''} }
		{include file="template/input_form.html" type='text' label="Kab.Kota" style_type="width:80%" class="validasi" id="kab_kota" name="kab_kota" value="{$data.kab_kota|default:''}" }
			
		</table>
		<div class="control-group">
			<center>
			<label class="control-label" for="form-field-1"></label>
			<div class="controls">
				{include file="template/button_save.html" id_simpan="simpan_{$main}" id_batal="batal_{$main}" }
			</div>
			</center>
		</div>		
	</form>
</div>

<script>
	$('#batal_{$main}').click(function(){
		$('#grid_nya_{$main}').show();
		$('#detil_nya_{$main}').html('').hide();
	});
	$('#simpan_{$main}').click(function(){
		submit_form('form_{$acak}',function(r){
			if(r==1){
				$.messager.alert('PILKADA',"Data Tersimpan",'info');
				$('#grid_{$main}').datagrid('reload');
				$('#grid_nya_{$main}').show();
				$('#detil_nya_{$main}').html('').hide();
				$('.info-empty').remove();
				//var $panel = $('#grid_{$main}').datagrid('getPanel');
				//$($panel).find(".datagrid-view").append('');
				
			}else{
				$.messager.alert('PILKADA',"Data Gagal Tersimpan",'error');
				console.log(r);
			}
		});

	});
</script>