
<div class="row">
    <div class="col-md-12">
      <!-- Custom Tabs -->
      <div class="nav-tabs-custom">
        <ul class="nav nav-tabs" id="tab_{$acak}">
          <li class="active"><a href="#responden_{$acak}" data-toggle="tab" nama_ny="responden" >Form 1</a></li>
          <li ><a href="#alat_peraga_{$acak}" data-toggle="tab" nama_ny="alat_peraga" >Form 2 - 4</a></li>
          <li><a href="#posko_{$acak}" data-toggle="tab" nama_ny="posko">Form 5</a></li>
          <li><a href="#kegiatan_{$acak}" data-toggle="tab" nama_ny="kegiatan">Form 6</a></li>
          <li><a href="#tokoh_{$acak}" data-toggle="tab" nama_ny="tokoh">Form 7</a></li>
          <li><a href="#tripika_{$acak}" data-toggle="tab" nama_ny="tripika">Form 8</a></li>
          <li><a href="#penyelenggara_{$acak}" data-toggle="tab" nama_ny="penyelenggara">Form 9</a></li>
          <li><a href="#kpps_{$acak}" data-toggle="tab" nama_ny="kpps">Form 10</a></li>
        </ul>
        <div class="tab-content">
          <!-- /.tab-pane -->
		   <div class="tab-pane active" id="responden_{$acak}">
				{include file="form/form-responden.html" main="responden"}
          </div>
          <div class="tab-pane" id="alat_peraga_{$acak}">
				{include file="form/form-alat-peraga.html" main="alat_peraga"}
          </div>
          <!-- /.tab-pane -->
          <div class="tab-pane" id="posko_{$acak}">
				{include file="form/form-survei-posko.html" main="posko"}
          </div>
		  <div class="tab-pane" id="kegiatan_{$acak}">
				{include file="form/form-survei-kegiatan.html" main="kegiatan"}
          </div>
		  <div class="tab-pane" id="tokoh_{$acak}">
				{include file="form/form-survei-tokoh.html" main="tokoh"}
          </div>
		  <div class="tab-pane" id="tripika_{$acak}">
				{include file="form/form-survei-tripika.html" main="tripika"}
          </div>
		  <div class="tab-pane" id="penyelenggara_{$acak}">
				{include file="form/form-survei-penyelenggara.html" main="penyelenggara"}
          </div>
		  <div class="tab-pane" id="kpps_{$acak}">
				{include file="form/form-survei-kpps.html" main="kpps"}
          </div>
          <!-- /.tab-pane -->
        </div>
        <!-- /.tab-content -->
      </div>
      <!-- nav-tabs-custom -->
    </div>
   </div>


<script>
	$('#tab_{$acak} a').on('click', function (e) {
	  //e.preventDefault()
	  //$(this).tab('show')
	  if($(this).attr('nama_ny')!='responden'){
		if(id_responden ==''){
			$.messager.alert('Survey',"Harap Isi Data Responden Terlebih Dahulu",'info');
			$('#tab_{$acak} a[href="#responden_{$acak}"]').tab('show');
		}
		//$('#list_alat_peraga').datagrid('reload');
		$('#id_list_alat_peraga').resize();
		$('#id_list_posko').resize();
		$('#id_list_kegiatan').resize();
		$('#id_list_tokoh').resize();
		$('#id_list_tripika').resize();
		$('#id_list_penyelenggara').resize();
		$('#id_list_kpps').resize();
	  }
	})
	
</script>
