<fieldset>
	<legend>Form Alamat</legend>
<div class="span10">
	<form class="form-horizontal" id="form_{$acak}" url="{$host}backend/cruddata/{$main}" method="post" enctype="multipart/form-data">
		<input type="hidden" name="id" value="{$data.id|default:''}">
		<input type="hidden" name="sts_crud" value="{$sts_crud|default:'add'}">
		<table class="table table-hover">
		{include file="template/input_form.html" type='select' label="Provinsi" style_type="width:80%;height:30px;" id="cl_provinsi_kode" name="cl_provinsi_kode" option={$cl_provinsi_kode|default:''} }
		<tr>
			<td>&nbsp;</td><td>Kab. Kota</td><td>:</td>
			<td style="font-weight:bold;">
				<select  id="cl_kab_kota_kode_{$acak}" name="cl_kab_kota_kode" class="form-control" style="width:80%;height:30px;">
					<option value="">-- Pilih --</option>
				</select>
			</td>
		</tr>
		<tr>
			<td>&nbsp;</td><td>Kecamatan</td><td>:</td>
			<td style="font-weight:bold;">
				<select  id="cl_kecamatan_id_{$acak}" name="cl_kecamatan_id" class="form-control validasi" style="width:80%;height:30px;">
					<option value="">-- Pilih --</option>
				</select>
			</td>
		</tr>
		{include file="template/input_form.html" type='text' label="Nama Alamat" style_type="width:80%;" id="nm_alamat" name="nm_alamat" value="" }
		{include file="template/input_form.html" type='textarea' label="Alamat" style_type="width:80%;" id="almt" name="almt"}
		{include file="template/input_form.html" type='text' label="Nama Penerima" style_type="width:80%;" id="nm_penerima" name="nm_penerima" value="" }
		{include file="template/input_form.html" type='text' label="Kode Pos" style_type="width:80%;" id="kd_pos" name="kd_pos" value="" }
		{include file="template/input_form.html" type='text' label="No HP" style_type="width:80%;" id="n_hp" name="n_hp" value="" }
		</table>
		<div class="control-group">
			<center>
			<label class="control-label" for="form-field-1"></label>
			<div class="controls">
				{include file="template/button_save.html" id_simpan="simpan_{$main}" id_batal="batal_{$main}" }
			</div>
			</center>
		</div>			
	</form>
</div>

<script>
	$(".validasi").validatebox({ required:true }); 
	$("#cl_provinsi_kode_{$acak}").change(function(){
		$('#cl_kab_kota_kode_{$acak}').empty();
		$('#cl_kecamatan_id_{$acak}').empty();
		fillCombo(host+"backend/get_combo", "cl_kab_kota_kode_{$acak}", "kabupaten",$(this).val());
	});
	$("#cl_kab_kota_kode_{$acak}").change(function(){
		$('#cl_kecamatan_id_{$acak}').empty();
		fillCombo(host+"backend/get_combo", "cl_kecamatan_id_{$acak}", "kecamatan",$(this).val());
	});
	{if $sts_crud|default:'add' eq 'edit'}
		fillCombo(host+"backend/get_combo", "cl_kab_kota_kode_{$acak}", "kabupaten",'{$data.kode_prov}',{$data.cl_kab_kota_id});
		fillCombo(host+"backend/get_combo", "cl_kecamatan_id_{$acak}", "kecamatan",'{$data.cl_kab_kota_id}',{$data.cl_kecamatan_id});
	{/if}
	$('#batal_{$main}').click(function(){
		closeWindow();
	});
	$('#simpan_{$main}').click(function(){
		if ($('#form_{$acak}').form('validate')){
			tambah_row('member','{$acak}');
			closeWindow();
		}else{
			$.messager.alert('AGROPEDIA',"ISI DATA YANG KOSONG",'error');
		}

	});
</script>