<center><h5>DATA TOKOH MASYARAKAT</h5></center><hr>
<form class="form-horizontal" id="form_input_{$main}_{$acak}" url="{$host}backend/cruddata/survey_tokoh" method="post" enctype="multipart/form-data">
<input type="hidden" name="id" id="id_{$acak}" value="{$data.id|default:''}">
<input type="hidden" name="sts_crud" id="sts_crud_{$acak}" value="{$sts_crud|default:'add'}">
<input type="hidden" name="tbl_responden_id" id="tbl_responden_id_{$main}_{$acak}" value="" class="id_responden">
<div class="form-group">
	  <label for="inputEmail3" class="col-sm-2 control-label">Desa/Kelurahan</label>
	  <div class="col-sm-10">
		<select class="form-control validasi" id="cl_kelurahan_id_{$main}_{$acak}" name="cl_kelurahan_id">
			<option value="">-- Pilih --</option>
		</select>
	  </div>
</div>
<div class="form-group">
  <label for="inputEmail3" class="col-sm-2 control-label">Nama Tokoh</label>
  <div class="col-sm-10">
	<input type="text" class="form-control validasi" id="nama_{$acak}" name="nama">
  </div>
</div>
<div class="form-group">
  <label for="inputEmail3" class="col-sm-2 control-label">Alamat</label>
  <div class="col-sm-10">
	<input type="text" class="form-control validasi" id="alamat_{$acak}" name="alamat">
  </div>
</div>
<div class="form-group">
  <label for="inputEmail3" class="col-sm-2 control-label">No. HP</label>
  <div class="col-sm-10">
	<input type="text" class="form-control validasi" id="no_hp_{$acak}" name="no_hp">
  </div>
</div>
<div class="form-group">
  <label for="inputEmail3" class="col-sm-2 control-label">Pekerjaan</label>
  <div class="col-sm-10">
	<input type="text" class="form-control validasi" id="pekerjaan_{$acak}" name="pekerjaan">
  </div>
</div>

<fieldset>
	<legend>Kategori Tokoh</legend>
	<center>
	<div class="radio">
		<table>
			<tr>
				<td>
					<label style="width:200px;">
						<input type="radio" name="kategori" id="kategori_{$acak}" value="Tokoh Agama" checked> Tokoh Agama
					</label><br>
					<label style="width:200px;">
						<input type="radio" name="kategori" id="kategori_{$acak}" value="Tokoh Pendidikan"> Tokoh Pendidikan
					</label><br>
					<label style="width:200px;">
						<input type="radio" name="kategori" id="kategori_{$acak}" value="Tokoh Pemerintahan"> Tokoh Pemerintahan
					</label><br>
					<label style="width:200px;">
						<input type="radio" name="kategori" id="kategori_{$acak}" value="Tokoh Pemuda"> Tokoh Pemuda
					</label><br>
					<label style="width:300px;">
						<input type="radio" name="kategori" id="kategori_{$acak}" value="Tokoh Penggerak Pembangunan"> Tokoh Penggerak Pembangunan
					</label>
				</td>
				<td>
					<label style="width:200px;">
						<input type="radio" name="kategori" id="kategori_{$acak}" value="Tokoh Penggerak Perempuan"> Tokoh Penggerak Perempuan
					</label><br>
					<label style="width:200px;">
						<input type="radio" name="kategori" id="kategori_{$acak}" value="Tokoh Adat"> Tokoh Adat
					</label><br>
					<label style="width:200px;">
						<input type="radio" name="kategori" id="kategori_{$acak}" value="Bangsawan/Pemimpin"> Bangsawan/Pemimpin
					</label><br>
					<label style="width:200px;">
						<input type="radio" name="kategori" id="kategori_{$acak}" value="Orang Yang Dituakan"> Orang Yang Dituakan
					</label><br>
					<label style="width:200px;">
						<input type="radio" name="kategori" id="kategori_{$acak}" value="Tokoh Lainnya"> Tokoh Lainnya
					</label>
				</td>
			</tr>
		</table>
		
		
	</div>
	</center>
</fieldset>
<!--fieldset>
	<legend>Keberpihakan</legend>
	<center>
	<div class="radio">
		<label style="width:200px;">
			<input type="radio" name="keberpihakan" id="keberpihakan_{$acak}" value="SM" checked> Sangat Mendukung
		</label>
		<label style="width:200px;">
			<input type="radio" name="keberpihakan" id="keberpihakan_{$acak}" value="M"> Mendukung
		</label>
		<label style="width:200px;">
			<input type="radio" name="keberpihakan" id="keberpihakan_{$acak}" value="N"> Netral
		</label>
		<label style="width:200px;">
			<input type="radio" name="keberpihakan" id="keberpihakan_{$acak}" value="TM"> Tidak Mendukung
		</label>
	</div>
	</center>
</fieldset-->
<fieldset>
	<legend>Keberpihakan</legend>
	<center>
	<div class="radio">
		{foreach from=$paslon item=x}
		<label style="width:100px;">
			<input type="radio" name="keberpihakan" id="keberpihakan_{$acak}" value="{$x.id}" > {$x.kepala_daerah} - {$x.wakil_kepala_daerah}
		</label>
		{/foreach}
		<label style="width:100px;">
			<input type="radio" name="keberpihakan" id="keberpihakan_{$acak}" value="0" checked> Netral
		</label>
		<label style="width:200px;">
			<input type="radio" name="keberpihakan" id="keberpihakan_{$acak}" value="-1" checked> Belum Diketahui
		</label>
	</div>
	</center>
</fieldset>
<br>
<br>
<div class="form-group">
  <label for="inputEmail3" class="col-sm-2 control-label">Sumber Informasi</label>
  <div class="col-sm-10">
	<input type="text" class="form-control validasi" id="sumber_{$main}_{$acak}" name="sumber">
  </div>
</div>
<div class="control-group">
	<center>
	<label class="control-label" for="form-field-1"></label>
	<div class="controls">
		{include file="template/button_save.html" id_simpan="simpan_input_{$main}" id_batal="batal_input_{$main}" text_simpan="Simpan Data Tokoh"}
		<!--a href="javascript:void(0);" id="edit_input" class="btn btn-small btn-info">
			Lihat Data & Edit
		</a-->
	</div>
	</center>
</div>
</form>
<br>
<br>
<fieldset>
	<div id="id_list_{$main}" style="height:300px;">
		<div id="list_{$main}" ></div>
	</div>
</fieldset>
<script>
	genGrid('survey_{$main}', 'list_{$main}');
	$('#simpan_input_{$main}').click(function(){
		if(id_responden!=""){
		submit_form('form_input_{$main}_{$acak}',function(r){
			if(r==1){
				$.messager.alert('Survey',"Data Survey Tersimpan",'info');
				$('#batal_input_{$main}').trigger('click');
				$('.info-empty').remove();
				$('#list_{$main}').datagrid('reload',{ id_responden:id_responden });
			}else{
				$.messager.alert('PILKADA',"Data Gagal Tersimpan",'error');
				console.log(r);
			}
		});
		}else{
			$.messager.alert('PILKADA',"HARAP ISI FORM 1 RESPONDEN TERLEBIH DAHULU",'warning');
		}
	});
	$('#batal_input_{$main}').click(function(){
		clear_form('form_input_{$main}_{$acak}');
		$('.angka').numberbox('setValue','');
	});
</script>
