<fieldset>
	<legend>Form PASLON</legend>
<div class="span10">
<form class="form-horizontal" id="form_{$acak}" url="{$host}backend/cruddata/{$main}" method="post" enctype="multipart/form-data">
<table class="table table-hover">
		<input type="hidden" name="id" value="{$data.id|default:''}">
		<input type="hidden" name="sts_crud" value="{$sts_crud|default:'add'}">
		<tr>
			<td>&nbsp;</td><td>Provinsi</td><td>:</td>
			<td style="font-weight:bold;">
				<select class="form-control input-sm" id="cl_prov_kode_{$acak}" name="cl_prov_kode">
					{foreach from=$prov item=i}
					<option value="{$i.kode_prov}" {if $i.kode_prov eq 73}selected{/if}>{$i.provinsi}</option>
					{/foreach}
				</select>
			</td>
		</tr>
		<tr>
			<td>&nbsp;</td><td>Kab. Kota</td><td>:</td>
			<td style="font-weight:bold;">
				<select  id="cl_kab_kota_id_{$acak}" name="cl_kab_kota_id" class="form-control" style="width:80%;height:30px;">
					<option value="">-- Pilih --</option>
				</select>
			</td>
		</tr>
		{include file="template/input_form.html" type='text' label="No Urut Paslon" id="no_urut" name="no_urut" style_type="width:80%" class="validasi angka" value="{$data.no_urut|default:''}" }
		{include file="template/input_form.html" type='text' label="Nama Kepala Daerah" style_type="width:80%" class="validasi" id="alias_kepala_daerah" name="alias_kepala_daerah" value="{$data.alias_kepala_daerah|default:''}" }
		{include file="template/input_form.html" type='text' label="Alias Kepala Daerah" style_type="width:80%" class="validasi" id="kepala_daerah" name="kepala_daerah" value="{$data.kepala_daerah|default:''}" }
		{include file="template/input_form.html" type='text' label="Wakil Kepala Daerah" style_type="width:80%" class="validasi" id="alias_wakil" name="alias_wakil" value="{$data.alias_wakil|default:''}" }	
		{include file="template/input_form.html" type='text' label="Alias Kepala Daerah" style_type="width:80%" class="validasi" id="wakil_kepala_daerah" name="wakil_kepala_daerah" value="{$data.wakil_kepala_daerah|default:''}" }	
		<tr>
			<td>&nbsp;</td><td>Calon Jabatan</td><td>:</td>
			<td style="font-weight:bold;">
				<select  id="jabatan{$acak}" name="jabatan" class="form-control" style="width:80%;height:30px;">
					<option value="">-- Pilih --</option>
					<option value="GUBERNUR" {if $sts_crud eq 'edit'}{if $data.jabatan eq 'GUBERNUR'}selected{/if}{/if}>Gubernur</option>
					<option value="WALI KOTA" {if $sts_crud eq 'edit'}{if $data.jabatan eq 'WALI KOTA'}selected{/if}{/if}>Walikota</option>
					<option value="BUPATI" {if $sts_crud eq 'edit'}{if $data.jabatan eq 'BUPATI'}selected{/if}{/if}>Bupati</option>
				</select>
			</td>
		</tr>
</table>
</form>
<div class="control-group">
	<center>
	<label class="control-label" for="form-field-1"></label>
	<div class="controls">
		{include file="template/button_save.html" id_simpan="simpan_{$main}" id_batal="batal_{$main}" }
	</div>
	</center>
</div>		
</div>

<script>
	$("#cl_prov_kode_{$acak}").change(function(){
		$('#cl_kab_kota_id_{$acak}').empty();
		fillCombo(host+"backend/get_combo", "cl_kab_kota_id_{$acak}", "kabupaten",$(this).val());
	});
	fillCombo(host+"backend/get_combo", "cl_kab_kota_id_{$acak}", "kabupaten",$("#cl_prov_kode_{$acak}").val());
	{if $sts_crud|default:'add' eq 'edit'}
		fillCombo(host+"backend/get_combo", "cl_kab_kota_id_{$acak}", "kabupaten",'{$data.cl_prov_kode}',{$data.cl_kab_kota_id});
	{/if}
	$('#batal_{$main}').click(function(){
		$('#grid_nya_{$main}').show();
		$('#detil_nya_{$main}').html('').hide();
	});
	$('#simpan_{$main}').click(function(){
		submit_form('form_{$acak}',function(r){
			if(r==1){
				$.messager.alert('PILKADA',"Data Tersimpan",'info');
				$('#grid_{$main}').datagrid('reload');
				$('#grid_nya_{$main}').show();
				$('#detil_nya_{$main}').html('').hide();
				$('.info-empty').remove();
				//var $panel = $('#grid_{$main}').datagrid('getPanel');
				//$($panel).find(".datagrid-view").append('');
				
			}else{
				$.messager.alert('PILKADA',"Data Gagal Tersimpan",'error');
				console.log(r);
			}
		});

	});
</script>