<form class="form-horizontal" id="form_{$acak}" url="{$host}backend/cruddata/{$main}" method="post" enctype="multipart/form-data">
<fieldset>
	<legend>Form Register Member</legend>
<div class="span10">
		<table class="table table-hover">
		<input type="hidden" name="id" value="{$data.member_id|default:''}">
		<input type="hidden" name="id_toko" value="{$data_toko.id_toko|default:''}">
		<input type="hidden" name="sts_crud" value="{$sts_crud|default:'add'}">
		{include file="template/input_form.html" type='text' label="Email" style_type="width:80%" class="validasi" id="email" name="email" value="{$data.email|default:''}" }
		<tr>
			<td>&nbsp;</td><td>Password</td><td>:</td>
			<td style="font-weight:bold;">
				Default "12345"
			</td>
		</tr>
		{include file="template/input_form.html" type='text' label="Nama Lengkap" style_type="width:80%" class="validasi" id="nama_lengkap" name="nama_lengkap" value="{$data.nama_lengkap|default:''}" }
		{include file="template/input_form.html" type='text' label="Tgl. Lahir" style_type="width:30%;height:32px;" class="tgl"  id="tgl_lahir" name="tgl_lahir" value="{$data.tgl_lahir|default:''}" }
		
		<tr>
			<td>&nbsp;</td><td>Jenis Kelamin</td><td>:</td>
			<td style="font-weight:bold;">
				<input type="radio" name="jenis_kelamin" id="jenis_kelamin_{$acak}" value="P" {if $sts_crud eq 'edit'}{if $data.jenis_kelamin eq 'P'}checked{/if}{else}checked{/if}> Pria &nbsp;&nbsp;&nbsp;&nbsp;
				<input type="radio" name="jenis_kelamin" id="jenis_kelamin_{$acak}" value="W" {if $sts_crud eq 'edit'}{if $data.jenis_kelamin eq 'W'}checked{/if}{/if}> Wanita 
			</td>
		</tr>
		{include file="template/input_form.html" type='text' label="No HP" style_type="width:80%" class="validasi" id="no_hp" name="no_hp" value="{$data.no_hp|default:''}" }
		{include file="template/input_form.html" type='file' label="Foto" style_type="" class="" id="foto" name="foto" }
		{if $sts_crud|default:'add' eq 'edit'}
		<tr>
			<td>&nbsp;</td><td>Foto Exist</td><td>:</td>
			<td style="font-weight:bold;">
				{if $data.foto neq ''}
				<img alt="Photo" src="__repo/member/{$data.member_id}/{$data.foto}" class="img-responsive pad">
				{else}
				-- Tidak Ada Foto SIlahkan Upload --
				{/if}
			</td>
		</tr>
		{/if}
		<tr>
			<td>&nbsp;</td><td>Status</td><td>:</td>
			<td style="font-weight:bold;">
				<input type="checkbox" name="flag" id="flag" value="Y" {if $sts_crud eq 'edit'}{if $data.flag eq 'Y'}checked{/if}{/if} > Aktif
			</td>
		</tr>
			
		</table>
</div>
</fieldset>
<fieldset>
	<legend>Alamat Member</legend>
	<table class="table table-striped table-bordered">
		<thead class="thead-dark">
			<tr>
				<th width="" style="text-align:left;">Nama Alamat</th>
				<th width="15%" style="text-align:left;">Prov/Kab/KEc</th>
				<th width="25%" style="text-align:left;">Alamat</th>
				<th width="" style="text-align:center;">Kode Pos</th>
				<th width="" style="text-align:left;">No HP</th>
				<th width="" style="text-align:left;">Nama Penerima</th>
				<th width=""><a href="javascript:void(0);" class="btn btn-mini btn-info" onclick="$.post('{$host}backend/getdisplay/get-form/alamat',function(r){ windowForm(r,'FORM ALAMAT',800,600) });">+</a></th>
			</tr>
		</thead>
		<tbody class="bd_member">
			{if $sts_crud eq 'add'}
			<tr class="tr_member_0">
				<td colspan="7" style="text-align:center;">-- Click Icon Tambah (+) --</td>
			</tr>
			{else}
			{foreach from=$data_almt item=i name=x}
			<tr class="tr_member" id="tr_member_{$smarty.foreach.x.iteration}" idx={$smarty.foreach.x.iteration}>';
				<td width="" style="text-align:left;"><input type="hidden" name="nama_alamat[]" id="nama_alamat_{$smarty.foreach.x.iteration}" style="width:100%;height:27px;" value="{$i.nama_alamat}">{$i.nama_alamat}</td>
				<td width="" style="text-align:left;"><input type="hidden" name="cl_kecamatan_id[]" id="cl_kecamatan_id_{$smarty.foreach.x.iteration}" style="width:100%;height:27px;" value="{$i.cl_kecamatan_id}">KEC. {$i.kecamatan}  {$i.kab_kota} PROV. {$i.provinsi}</td>
				<td width="" style="text-align:left;"><input type="hidden" name="alamat[]" id="alamat_{$smarty.foreach.x.iteration}" style="width:100%;height:27px;" value="{$i.alamat}">{$i.alamat}</td>
				<td width="" style="text-align:center;"><input type="hidden" name="kode_pos[]" id="kode_pos_{$smarty.foreach.x.iteration}" style="width:100%;height:27px;" value="{$i.kode_pos}">{$i.kode_pos}</td>
				<td width="" style="text-align:left;"><input type="hidden" name="no_hp_alm[]" id="no_hp_{$smarty.foreach.x.iteration}" style="width:100%;height:27px;" value="{$i.no_hp_alm}">{$i.no_hp_alm}</td>
				<td width="" style="text-align:left;"><input type="hidden" name="nama_penerima[]" id="nama_penerima_{$smarty.foreach.x.iteration}" style="width:100%;height:27px;" value="{$i.nama_penerima}">{$i.nama_penerima}</td>
				<td><a href="javascript:void(0);" class="btn btn-danger btn-circle" onclick="$(this).parents('tr').first().remove();"><i class="fa fa-times"></i></a></td>
			</tr>
			{/foreach}
			{/if}
		</tbody>
	</table>
</fieldset>
<fieldset>
	<legend>Toko</legend>
	<table class="table table-hover">
	{include file="template/input_form.html" type='select' label="Provinsi" style_type="width:80%;height:30px;" id="cl_provinsi_kode_toko" name="cl_provinsi_kode_toko" option={$cl_provinsi_kode|default:''} }
		<tr>
			<td>&nbsp;</td><td>Kab. Kota</td><td>:</td>
			<td style="font-weight:bold;">
				<select  id="cl_kab_kota_kode_toko_{$acak}" name="cl_kab_kota_kode_toko" class="form-control" style="width:80%;height:30px;">
					<option value="">-- Pilih --</option>
				</select>
			</td>
		</tr>
		<tr>
			<td>&nbsp;</td><td>Kecamatan</td><td>:</td>
			<td style="font-weight:bold;">
				<select  id="cl_kecamatan_id_toko_{$acak}" name="cl_kecamatan_id_toko" class="form-control" style="width:80%;height:30px;">
					<option value="">-- Pilih --</option>
				</select>
			</td>
		</tr>
	{include file="template/input_form.html" type='text' label="Nama Toko" style_type="width:80%" class="toko" id="nama_toko" name="nama_toko" value="{$data_toko.nama_toko|default:''}" }
	{include file="template/input_form.html" type='textarea' label="Deskripsi Toko" style_type="width:80%" class="deskripsi_toko" id="deskripsi_toko" name="deskripsi_toko" value="{$data_toko.deskripsi_toko|default:''}" }
	{include file="template/input_form.html" type='textarea' label="Alamat Toko" style_type="width:80%" class="alamat" id="alamat_toko" name="alamat_toko" value="{$data_toko.alamat_toko|default:''}" }
	{include file="template/input_form.html" type='text' label="Kode Pos" style_type="width:80%;" class="kd_pos" id="kd_pos_toko" name="kd_pos_toko" value="{$data_toko.kode_pos_toko|default:''}" }
	{include file="template/input_form.html" type='file' label="Logo" style_type="" class="" id="logo" name="logo" }
		{if $sts_crud|default:'add' eq 'edit'}
		<tr>
			<td>&nbsp;</td><td>Foto Exist</td><td>:</td>
			<td style="font-weight:bold;">
				{if $data_toko.logo|default:'' neq ''}
				<img alt="Photo" src="__repo/member/{$data.member_id}/logo/{$data_toko.logo}" class="img-responsive pad">
				{else}
				-- Tidak Ada Logo SIlahkan Upload --
				{/if}
			</td>
		</tr>
		{/if}
	</table>
</fieldset>
<div class="control-group">
	<center>
	<label class="control-label" for="form-field-1"></label>
	<div class="controls">
		{include file="template/button_save.html" id_simpan="simpan_{$main}" id_batal="batal_{$main}" }
	</div>
	</center>
</div>	
</form>	
<script>
	var idx_row={$jml_row|default:1};
	$(".validasi").validatebox({ required:true }); 
	$("#cl_provinsi_kode_toko_{$acak}").change(function(){
		$('#cl_kab_kota_kode_toko_{$acak}').empty();
		$('#cl_kecamatan_id_toko_{$acak}').empty();
		fillCombo(host+"backend/get_combo", "cl_kab_kota_kode_toko_{$acak}", "kabupaten",$(this).val());
	});
	$("#cl_kab_kota_kode_toko_{$acak}").change(function(){
		$('#cl_kecamatan_id_toko_{$acak}').empty();
		fillCombo(host+"backend/get_combo", "cl_kecamatan_id_toko_{$acak}", "kecamatan",$(this).val());
	});
	{if $sts_crud|default:'add' eq 'edit'}
		fillCombo(host+"backend/get_combo", "cl_kab_kota_kode_toko_{$acak}", "kabupaten",'{$data_toko.kode_prov_toko|default:""}',{$data_toko.cl_kab_kota_id_toko|default:"0"});
		fillCombo(host+"backend/get_combo", "cl_kecamatan_id_toko_{$acak}", "kecamatan",'{$data_toko.cl_kab_kota_id_toko|default:""}',{$data_toko.cl_kecamatan_id_toko|default:"0"});
	{/if}
	$('#batal_{$main}').click(function(){
		$('#grid_nya_{$main}').show();
		$('#detil_nya_{$main}').html('').hide();
	});
	$('#tgl_lahir_{$acak}').datebox({
		formatter : formatDate,
        parser : myparser,
		required : true,
	});
	$('#simpan_{$main}').click(function(){
		submit_form('form_{$acak}',function(r){
			if(r==1){
				$.messager.alert('AGROPEDIA BO',"Data Tersimpan",'info');
				$('#grid_{$main}').datagrid('reload');
				$('#grid_nya_{$main}').show();
				$('#detil_nya_{$main}').html('').hide();
				$('.info-empty').remove();
			}else{
				$.messager.alert('AGROPEDIA BO',"Data Gagal Tersimpan",'error');
				console.log(r);
			}
		});

	});
</script>