<div style="float:left;width:100%;">
	<div class="form-group">
	  <label for="inputEmail3" class="col-sm-2 control-label">No Kuesioner</label>
	  <div class="col-sm-10">
		<input type="text" class="form-control validasi" id="no_kuesioner_{$acak}" name="no_kuesioner">
	  </div>
	</div>
</div>
<p>&nbsp;</p>
<div style="margin-top:5px;">
	<div id="list_{$mod}_{$acak}"></div>
</div>
<script>
	acak_form='{$acak_form}';
	genGrid('{$mod}', 'list_{$mod}_{$acak}', 725,370);
</script>